# This .gitignore file lists content that does NOT need to be tracked in the project history

# Visual Studio Code settings and workspace folder - Ignore entire .vscode folder 
.vscode/*

# macOS system files
.DS_Store
Thumbs.db

# Ignore the data/original directory
data/original/
